*{
    margin: auto;
    padding: 0;
}

    
  table,th,td {
    border : 1px solid black;
    border-collapse: collapse;
  }
  th,td {
    padding: 5px;
  }
  .form,h2{
      text-align: center;
  }
.form input[type=text],select{
     padding: 5px;
     width: 50%;
     border:2px solid lightblue;
     margin-left: 20%;


}